<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-result</string>
			<key>Image File</key>
			<string>speechicon.png</string>
			<key>Shell Script File</key>
			<string>add-hyphens.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>HyphenList</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Prepend "- " for each line of selected text and copy to clipboard.</string>
	<key>Extension Identifier</key>
	<string>com.gumpcha.popclip.extension.hyphenlist</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>HyphenList</string>
	</dict>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
